@font-face {
    font-family: 'RobotoCondensed';
    src: url('Roboto-Condensed-webfont.eot');
    src: url('Roboto-Condensed-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Condensed-webfont.woff') format('woff'),
         url('Roboto-Condensed-webfont.ttf') format('truetype'),
         url('Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Titania';
    src: url('Titania.eot');
    src: url('Titaniad41d.eot?#iefix') format('embedded-opentype'),
         url('Titania.woff') format('woff'),
         url('Titania.ttf') format('truetype'),
         url('Titania.svg#RobotoCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}