		td { padding:0px;margin:0px;height:10px; }  
		tr { height:17px; }
		h1, h2, h3, h4, h5 {font-size:inherit; }
		.container{  margin:0px; }

			body{ font-family:trebuchet ms;  }
		.page { font-family:trebuchet ms; position: relative; overflow: hidden;
		  margin: auto; width:800px; height:1000px; }

		 .divider{ border:2px solid #000; margin-bottom: 15px;}

		.clearpage{ clear:both;  page-break-after: always; }
		.borderheading {  padding:5px;
		  border-left:none; border-right:none; 
		  width: 100%; margin-bottom: 10px; }

		.borderheading td { border:none; }

		.header { text-align: center; margin-top: 2px; margin-bottom:7px;
		  font-size: 18px; }

		.subheader { font-size: 14px; margin: 2px; text-align: center; }		
		.biodata{ float:left; width: 350px; height: 180px; }
		.tablecontent { margin-top:20px; } 
		.tablecontent td { font-size:10px; padding-left:10px; } 
		.indent { float:right; margin-right: 10px; }
		.noborder, .noborder td { border:none; }
		.avatar { margin-left:10px; }

		.numfoot { clear:both; color: #fff; width: 40px; padding: 2px 5px;
		  text-align: center; margin: auto; -moz-border-radius:50px; -webkit-border-radius: 50px;
		  border-radius: 50px; position: relative; background-color:#000; border:1px solid black; }
